.logo {
    width: 90px;
    height: 50px;
}

.nav-link.disabled {
    color: green;
}

.botonformulario {
    background-color: #95c842;
    border-color: #95c842;
    color: white;
    text-transform: none;
}

.imagenhawaii {
    filter: brightness(50%);
}

.textohawaii {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-10%, -50%);
}

.colorfooter {
    background-color: #1c445a;
    color: white;
}